$nav-link: #fff;
$text-color: #81afdd;

$body-bg: #040c18;
$blue-bg: #042c54;

$btn-color: #ff4820;
$input-color: #052d56;
$text-gradient: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);