button {
    cursor: pointer;
}

.btn {
    background: none;
    color: $nav-link;
    border: none;
    padding: 10px 20px;
    &.btn-orange {
        background: $btn-color;
        border-radius: 5px;
    }
    &.btn-dark {
        background: black;
        border-radius: 40px;
    }
}