.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    .nav {
        display: flex;
        gap: 68px;
        .menu {
            a {
                color: $nav-link;
                margin-right: 34px;
            }
            @include medium-screen {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 80px;
                left: 20px;
                background: $blue-bg;
                padding: 25px;
            }
        }
    }
    .burger-menu {
        display: none;
        @include medium-screen {
            display: block;
            filter: contrast(0);
            width: 50px;
        }
    }
}

.show {
    display: flex !important;
}